<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data - ITAdventure</title>

    <style>
        td {
            height: 30px;
            padding: 20px;
        }
    </style>

</head>
<body>

<h2 style="color:green">Data - ITAdventure</h2>

<h4>Covid-19 Dataset [For Educational Purposes Only]</h4>

<a href="http://data.itadventure.org">Go to Covid-19 Dashboard</a>

<h4>Worldwide Covid Data</h4>

<table border="1">
    <tr>
        <td><b>Total Number of Covid-19 in the world</b></td>
        <td>http://api.itadventure.org/itadventure/api/covid/world</td>
        <td>Reference: <a href="https://www.worldometers.info/coronavirus" target="_blank">worldometers</a></td>
    </tr>
    <tr>
        <td><b>Total Number of Covid-19 by country</b></td>
        <td>http://api.itadventure.org/itadventure/api/covid/world/country</td>
        <td>Reference: <a href="https://www.worldometers.info/coronavirus" target="_blank">worldometers</a></td>
    </tr>
</table>


<h4>Cambodia Covid Data</h4>

<table border="1">
    <tr>
        <td><b>Total Number of Covid-19 in Cambodia</b></td>
        <td>http://api.itadventure.org/itadventure/api/covid/cambodia</td>
        <td>Reference: <a href="https://www.worldometers.info/coronavirus" target="_blank">worldometers</a></td>
    </tr>
    <tr>
        <td><b>Total Number of Covid-19 by province</b></td>
        <td>http://api.itadventure.org/itadventure/api/covid/cambodia/province</td>
        <td>Reference: <a href="https://www.facebook.com/MinistryofHealthofCambodia" target="_blank">MOH</a></td>
    </tr>
</table>

<!--
<table id="excelDataTable" border="1">
</table>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>

    // Builds the HTML Table out of myList.
    function buildHtmlTable(selector,jsonData) {
        var columns = addAllColumnHeaders(jsonData, selector);

        for (var i = 0; i < jsonData.length; i++) {
            var row$ = $('<tr/>');
            for (var colIndex = 0; colIndex < columns.length; colIndex++) {
                var cellValue = jsonData[i][columns[colIndex]];
                if (cellValue == null) cellValue = "";
                row$.append($('<td/>').html(cellValue));
            }
            $(selector).append(row$);
        }
    }

    // Adds a header row to the table and returns the set of columns.
    // Need to do union of keys from all records as some records may not contain
    // all records.
    function addAllColumnHeaders(myList, selector) {
        var columnSet = [];
        var headerTr$ = $('<tr/>');

        for (var i = 0; i < myList.length; i++) {
            var rowHash = myList[i];
            for (var key in rowHash) {
                if ($.inArray(key, columnSet) == -1) {
                    columnSet.push(key);
                    headerTr$.append($('<th/>').html(key));
                }
            }
        }
        $(selector).append(headerTr$);

        return columnSet;
    }

    $.ajax({
       type: "GET",
       url: "http://localhost:8082/itadventure/api/covid/world/country",
       dataType: 'json',
       success: function (resp) {
           buildHtmlTable('#excelDataTable',resp.data);
       }
   });


</script>-->

</body>
</html>